.coverHomeTitle{
    .intro {
        background-color: #6A666A;
        background-image: url(./../../../assets/images/large-scale.jpg);
        background-position: 50% 30%;
        background-size: cover;
        background-repeat: no-repeat;
        overflow: hidden;
        height: 814px;
        .introText{
            display: flex;
            justify-content: center;
            -webkit-transition: all 0.2s ease;
            -moz-transition: all 0.2s ease;
            -ms-transition: all 0.2s ease;
            -o-transition: all 0.2s ease;
            margin-top: 4rem;
            h1{
                span{
                    color:white;
                    font-weight: 200;
                }
                .major {
                    display: block;
                    font-weight: lighter;
                    font-size: 20.6px;
                    margin: 0;
                    line-height: 1.2;
                }
                .minor {
                    display: block;
                    font-size: 15px;
                }
            }
        } 
        .logoBig {
            top: 20vh;
            background-image: url(./../../../assets/images/logo-final.svg);
            position: absolute;
            z-index: 1;
            -webkit-transition: all 0.2s ease;
            -moz-transition: all 0.2s ease;
            -ms-transition: all 0.2s ease;
            -o-transition: all 0.2s ease;
            background-repeat: no-repeat;
        }
        .introBookmark {
            position: absolute;
            background-color: #009FA0;
            background-repeat: no-repeat;
            background-size: 85%;
            background-position-x: center;
            background-position-y: bottom;
            background-image: url(./../../../assets/images/creative-symbol.svg);
        }
        #introContact {
            display: flex;
            justify-content: center;       
            .iconMess{
                content: "";
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: #009FA0;
                width: 45px;
                height: 45px;
            }
            .buttonStyle {
                display: flex;
                height: 45px;
                background: #FFFFFF;
                text-decoration: none;
                justify-content: space-between;
                align-items: center;
                color: #009FA0;
                outline: 4px solid rgba(0, 0, 0, 0.06);
                padding-right: 4.5rem;
                .getIn{
                    margin:auto;
                    padding-left: 4rem;
                }
            }
        }
    }
}


.intro {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

 .intro .introText h1 .major span {
    font-weight: bold;
}

.iconMess::after {
    content: "";
    display: block;
    position: relative;
    left: calc(-100% + 57px);
    border-left: 7px solid #009FA0;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
}

.messengerBox{
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    
}

@media (max-width: 576px){
    .coverHomeTitle{
        .intro{
            height: 80vh;
        }
    }
}

@media (min-width: 768px){
    .coverHomeTitle{
        .intro {
            height: 90vh;
            .introText{
                text-align: left;
                padding-left: 10rem;
                margin-top: 7rem;                
                h1{
                    
                    .major {
                        font-size: 1.5rem;
                    }
                    .minor {
                        font-size: 1.2rem;
                    }
                }
            } 
            .logoBig {
                width: 75px;
                height: 75px;
                margin-left: 2.5rem;
            }
            .introBookmark {
                height: 90vh;
                display: flex;
                width: 150px;
                margin-left: 10vw;
            }
        }
    }
    
    a.buttonStyle {
        width: 360px;
    }
    .messengerBox {
        padding-left: 20rem;
    }
}


@media (min-width: 1024px){
    .coverHomeTitle{
        .intro {
            background-attachment: fixed;
            .introText{
                margin-top: 10rem;
            }
        }
    }  
}




