

.clientList {
 background-color: #FABE09;
 height: 70px;
 display: flex;
 flex-direction: row;
 //align-items: center;
 justify-content: center;
 padding-top:.5rem;
 div{
   align-content: center;
   img{
     //padding-top:1.3rem;
    height: 50px;
   }
 }
}



@media (min-width: 768px){
  .clientList {
    height: 100px;
    div{
      img{
        height: 60px;
      }
    }
   }
}