.divLargeScale{
    color: #FFFFFF;
    background-color: #6A666A;
    background: url(./../../assets/images/large-scale.jpg);
    background-position: 50% 30%;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    
}

.large-scale{
    height: 438px;
}


.slick-track{
    opacity: 1; width: 90000px; transform: translate3d(-1261px, 0px, 0px);
}




@media (min-width:992px){
    img.large-scale {
        height: 733px;
    }
}



@media (min-width:768px) {
    
}

hr.up {
    margin-top: -4px;
}
hr.shadow {
    position: absolute;
    z-index: 1;
    border: 0;
    width: 100%;
    height: 4px;
    background-color: #000000;
    opacity: 0.2;
}
hr.white {
    position: absolute;
    z-index: 1;
    border: 0;
    width: 100%;
    height: 4px;
    background-color: #FFFFFF;
}

