.difference {
    background-color: #FFFFFF;
    display: table;
    .ttaPadding {
        padding: 30px 15px;
        color: #6A666A;
        .animate.default {
            position: relative;
            left: 0;
            opacity: 1;
            -webkit-transition: all 0.2s;
            -moz-transition: all 0.2s;
            -ms-transition: all 0.2s;
            -o-transition: all 0.2s;
            //opacity: 0;
            h2{
                font-size: 1.3rem;
                margin-bottom: 20px;
                font-weight: lighter;
                color:gray;
            }
            strong{
               color:gray;
            }
            p{
                color: gray;
                font-size: .85rem;
                margin-bottom: 1rem;
            }
        }
    }
    .skyline {
        padding: 0;
        .in-view .layer {
            left: 0 !important;
            opacity: 1;
        }
    }
}

.align-bottom {
    vertical-align: bottom!important;
}

.animate.default.in-view {
    left: 0;
    opacity: 1;
}

@media (min-width: 768px){
    .difference{
        div {
            display: table-cell;
            width: 50%;
        }
        // .ttaPadding .animate.default{
        //     h2 {
        //         font-size: 1.5rem;
        //     } 
        //     p {
        //         font-size: .95rem;
        //       }
        // } 
    } 
}

@media (min-width: 992px){
    .difference{
        .ttaPadding {
            padding: 50px 75px;
            .animate.default{
                h2 {
                    font-size: 2rem;
                }
                p {
                    font-size: 1rem;
                  }    
            } 
        }
    } 
}