$size: 10px;
.clientsDiv {
    display: flex;
    flex-direction: column;
    background: white;
    min-height: 219px;
    align-items: center;
    .ttaPadding{
        padding: 3rem 2rem;
        width: 100vw;
        .animate{
            h2{
                font-size: 1.5rem;
                margin-bottom: 20px;
                font-weight: lighter;
                color:gray;
            }
            strong{
                color:gray;
            }
            p{
                color: gray;
                font-size: 1rem;
                margin-bottom: 1rem;
            }
        }
    }
}

.clients{
    .align-middle{
        background: white;

        .ttaPadding{
            padding: 3rem 2rem;
            width: 100vw;
        }
    }
}


p.attribution span{
    font-size: 0.7rem;
    color:gray;
}

 .clients .quote {
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    min-height: 300px;
    border-color: #FFFFFF;
}

div.quote.animate {
    border: 1px solid gray;
    animation: faceOut 2s infinite;
    
}
div.quote {
    padding: 15px;
    -webkit-transition: all 2s;
    -moz-transition: all 2s;
    -ms-transition: all 2s;
    -o-transition: all 2s;
    position: relative;
    border: #6A666A solid 1px;
}

.testimonial p span{
    color: gray;
}
#alert-success{
    animation: alert-success 10s infinite; 
    
} 

@-webkit-keyframes alert-success{
    0%   {opacity: 1;}
    75% {opacity: 0;}
    100% {opacity: 1;}
}



// Draw
.smileIcon {
    display: flex;
    justify-content: center;
    .divIcon {
        display: flex;
        .cover {
            height: 40px;
            width: 40px;
            border: 1px solid gray;
            margin-top: .5rem;
        }
        .divdraw {
            display: inline-block;
            border: 1px solid gray;
            .bottom {
                border-bottom-left-radius: $size * 2;
                border-bottom-right-radius: $size * 2;
                margin-top:$size*2.5;
                margin-left:$size;
                height: $size;
                width: $size * 2;
            }
        }
        .tamgiac {
            margin-left: 1rem;
            border-top: 1px solid white;
            position: relative;
            top: -1px;
        }

    }
}


@media (min-width: 768px){
    .clients {
        display: -webkit-box;
    }
}


@media (min-width: 992px){
    .animate.default.divServices {
        padding-right: 25rem;
    }
    .clientsDiv {
        .ttaPadding{
            .animate{
                h2 {
                    font-size: 2rem;
                }
                p {
                    font-size: 1rem;
                 }
            }
        }
         
    }
    .tamgiac {
        border-top: 2px solid white;
    }
}


