
.services {
    background-image: url(./../../../assets/images/south-africa-coller.jpg);
    background-position: 20% 70%;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #6A666A;
    .ttaPadding{
        padding: 2rem 2rem 15.5rem 2rem;
        .animate.default{
            h2{
                font-size: 1.3rem;
                margin-bottom: 20px;
                font-weight: lighter;
                color:white;
            }
            strong{
                color:white;
            }
            p{
                color: white;
                font-size: .85rem;
                margin-bottom: 1rem;
            }
        }
    }
}
// .services .ttaPadding {
//     padding: 2rem 2rem 15.5rem 2rem;
// }
@media (min-width: 576px){
    .animate.default.divServices {
        padding-right: 5rem;
    }
}

@media (min-width: 768px){
    .animate.default.divServices {
        padding-right: 15rem;
    }
    // .services .ttaPadding {
    //     .animate.default{
    //         h2 {
    //             font-size: 1.5rem;
    //         }
    //         p {
    //             font-size: .95rem;
    //          }
    //     } 
    // }
}


@media (min-width: 992px){
    .animate.default.divServices {
        padding-right: 25rem;
    }
    .services {
        height: 700px;
        .ttaPadding{
            .animate.default{
                h2 {
                    font-size: 2rem;
                }
                p {
                    font-size: 1rem;
                 }
            }
        }
    }
}


@media (min-width: 1200px){
    .animate.default.divServices {
        padding-right: 35rem;
        padding-left: 2rem;
    }
    .services {
        height: 800px;
    }
}


