.header{
  display: flex;
  justify-content: space-between;
  border-bottom: 4px solid #009FA0;
  align-items: center;
  background: white;
  div{
    .logo{
      padding-top: .5rem;
      height: 60px;
      width: 60px;
    }
  }
}

.title{
  color: #000000;
  font-size: 3rem;
  text-decoration: none;
}
.nav{
  div{
    div{
      a{
        font-size: 17px;
      }
    }
  }
}
////////////
.top-nav{
  display: flex;
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  flex-direction: row;
}

.nav-item{ //top-nav a
  font-size: .9rem;
  //margin-right: 1.3rem;
  text-decoration: none;
  color:#999999;
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  //font-size: 17px;
  border:none;
  background-color: transparent;
}


// .top-nav.nav-item-icon{
//   display: none;
// }


div.nav-item-icon {
  display: none;
}
.nav-item:hover{
  color: #666666;
}

.active-nav-item{
  color: #009FA0;
}

////////////////////

////////////////////

@media (max-width:992px) {
  .top-nav {
    flex-direction: column;
  }

  /////top
  .top-nav .responsive {
    position: relative;
    transition: 1s    ;
    -webkit-transition: 1s    ;
    -moz-transition: 1s    ;
    -ms-transition: 1s    ;
    -o-transition: 1s    ;
    flex-direction: column;
}
  /////item
  .nav-item.responsive{
    float: none;
    display: none;
    text-align: left;
  }

  ////icon
 
  div.nav-item-icon.responsive {
    float: right;
    display: block;
    right: 0;
    top: 0;
  }

  div.nav-item-icon {
    position: absolute;
    right: 0;
    top: 0;
    display: block;
}
  div.nav-item-icon.responsive{
    display: block;
    right: 0;
    top: 0;
  }
  .header div .logo {
    height: 40px;  
  }
}
